.container {
  background-color: $main-bg;
  padding: 20px 2% 20px 17%;
  & > .banner {
    width: 100%;
    & > img {
      width: 100%;
      border-radius: 8px;
    }
  }

  & > .list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
    & > .vid-list {
      & > img.thumbnail {
        width: 100%;
        border-radius: 5%;
      }

      & > .vid-body {
        display: flex;
        align-items: flex-start;
        margin-top: 7px;

        & > img {
          width: 35px;
          margin-right: 10px;
          border-radius: 50%;
        }

        & > .vid-info {
          color: $link-text;
          font-size: 13px;

          & > a {
            color: $negro;
            font-weight: 600;
            display: block;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
.large-container{
    padding-left: 7%;
}